<!DOCTYPE html>
<html>
<body>
  <form action="/square/results" method="post">
  <label for="number">Enter a number:</label>
  <input type="text" id="number" name="number">
  <button type="submit">Submit</button>
</form>
</body>
</html>
